<!-- Main navbar -->
<div class="navbar navbar-dark navbar-expand-lg navbar-static border-bottom border-bottom-white border-opacity-10">
    <div class="container-fluid">
        <div class="d-flex d-lg-none me-2">
            <button type="button" class="navbar-toggler sidebar-mobile-main-toggle rounded-pill">
                <i class="ph-list"></i>
            </button>
        </div>

        <div class="navbar-brand flex-1 flex-lg-0">
            <a href="#" class="d-inline-flex align-items-center">
                <h1 class="text-white m-0">Business Manage</h1>
            </a>
        </div>
      <button class="btn btn-primary">
          <a href="#" class="dropdown-item">
              <i class="ph-sign-out me-2"></i>
              Logout
          </a>
      </button>


    </div>
</div>
