{% block form_row -%}
    <div class="form-group row {{ form.vars.name }}{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        <div class="col-md-4 col-form-label">
            {{- form_label(form, null, { label_attr: { class: '' } }) -}}
        </div>
        <div class="col-md-8">
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock form_row %}