{% extends 'base.html.twig' %}

{#{% set active = 'cp_leagues' %}#}
{#{% block title %} Add Players | League | Poolnament {% endblock %}#}
{#{% set breadcrumbs = [#}
{#    {#}
{#        'link': path('cp_dashboard'), 'title': 'Home',#}
{#    },#}
{#    {#}
{#        'title': 'Leagues',#}
{#        'link': path('cp_leagues')#}
{#    },#}
{#    {#}
{#        'title': 'Add Players'#}
{#    }#}
{#] %}#}


{% block content %}
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-10">
                    {{ form_row(form.players) }}
                </div>
                <div class="col-md-2 mt-4 text-end">
                    <button class="btn btn-success">Submit</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
